.button-default {
  cursor: pointer;
  position: relative;
  min-width: 100px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
  background-color: #355577; }
  .button-default:hover:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2); }
  .button-default .icon {
    width: 2rem;
    height: 2rem; }
