.container-app {
  max-width: 400px;
  padding: 20px; }
  .container-app .header-top {
    max-width: 100%; }
  .container-app .container-buttons {
    padding-top: 30px; }
  .container-app .button-download {
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    min-width: 100px; }
