.header {
  margin: auto;
  position: fixed;
  height: 55px;
  left :0;
  right: 0;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  justify-content: space-between;
  z-index: 999;
  background:rgba(0,0,0,0.15);
  h1 {
    padding-left: 15px;
    padding-left: 15px;
    font-size: 1.5rem;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    font-weight: 300;
  }

  .container-menu-items-desktop {
    margin-right: 20px;
  }

   a {
      text-decoration: none;
      font-size: 20px;
      transition: font-size 0.5s;
    }

    .menu-item-desktop {
      text-decoration: none;
      font-size: 20px;
      transition: font-size 0.5s;
      height: 55px;
      &:hover {
        border-top: solid #fff 3px;
        padding-top: 10px;
        opacity: 1;
        height: 55px;
      }
      
    }

    .header-logo {
      height: 40px;
      display: flex;
      align-items: center;      
      .app-logo {
        height: 25px;
      }
    }

    /* Position and sizing of burger button */
    .bm-burger-button {
      position: absolute;
      width: 30px;
      height: 25px;
      right: 1rem;
      top: 20px;
    }
    
    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: #fff;
      height: 10% !important;
      border-radius: 10px;
    }
    
    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 50px;
      width: 50px;
    }
    
    /* Color/shape of close button cross */
    .bm-cross {
      background: #fff;
    }
    
    /* General sidebar styles */
    .bm-menu {
      background: #333;
      padding: 2.5em 1.5em 0;
      font-size: 1.15em;
    }

    .menu-item {
      padding: 15px;
    }
    
    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #373a47;
    }
    
    /* Wrapper for item list */
    .bm-item-list {
      color: #b8b7ad;
      padding: 0.8em;
    }
    
    .bm-menu-wrap {
      top: 0;
    }

    .bm-menu {
      overflow: hidden !important;
    }

    /* Individual item */
    .bm-item {
      display: inline-block;
    }
    
    /* Styling of overlay */
    .bm-overlay {
      background: rgba(0, 0, 0, 0.3);
    }
    
}

.background-light {
  .header { 
    background-color: #fff;
    box-shadow: 0px 0px 3px #ddd;
    .menu-item-desktop{
      color: #333;
      &:hover {
        border-top: solid #333 3px;
      }
    }
    .img-mobile-connect {
      width: 22px;
      height: 22px;
      margin-bottom: -3px;
      filter:  sepia(0%) saturate(0%)  brightness(0%) contrast(0%);    
    }
  }
}


