.App {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 56px; }

html {
  height: 100%; }

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: linear-gradient(#00b09b, #96c93d); }
  html h2,
  body h2 {
    font-size: 1.5rem;
    font-weight: 400; }
  html a,
  body a {
    color: #fff; }
  html span, html p,
  body span,
  body p {
    font-weight: 300;
    font-size: 1.3rem; }
  html #root,
  body #root {
    position: relative;
    max-width: 100vw; }
  html .outer-wrapper,
  body .outer-wrapper {
    width: 100%;
    max-width: 800px;
    margin: auto; }
