.App {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-top: 50px;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  font-weight: 200;
  background-color: #355577;
  h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
  a {
    color: #fff;
  }
  span {
    font-size: 1.5rem;
  }
  .outer-wrapper {
    background-color: #355577;
    max-width: 800px;
    margin: auto;
  }
}
