/* Customize the label (the container) */
.button-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Style the checkmark/indicator */
  /* Show the checkmark when checked */
  /* Hide the browser's default checkbox */ }
  .button-checkbox:after {
    content: "";
    position: absolute;
    display: none; }
  .button-checkbox .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee; }
    .button-checkbox .checkmark:after {
      display: none;
      left: 9px;
      top: 5px;
      width: 5px;
      height: 10px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      content: "";
      position: absolute; }
  .button-checkbox:hover input ~ .checkmark {
    background-color: #ccc; }
  .button-checkbox input:checked ~ .checkmark {
    background-color: #d2691e; }
  .button-checkbox input:checked ~ .checkmark:after {
    display: block; }
  .button-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0; }
